@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
  background-color: #050808;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-image {
  height: 300px;
  width: 600px;
}

/* scumm look alike font */

.text-start2P {
  font-family: var(--font-start2P), monospace;
  -webkit-font-smoothing: none;       
  -moz-osx-font-smoothing: auto;
  image-rendering: pixelated;          
  color: #ffffff;                     
  /* -webkit-text-stroke: 0.5px #000000;    */
}

/* BACKGROUND CONTAINER */
.background-image {
  transform: translateZ(0);
  position: relative;
  width: 100%;                 /* responsive */
  max-width: 1000px;           /* optional */
  aspect-ratio: 16 / 9;        /* MUST match your image */
  background-image: url('/img/bg-desk.png');
  background-size: cover;
  background-position: center;

   /* fade edges to transparent */
  -webkit-mask-image: radial-gradient(circle, rgba(0,0,0,1) 85%, rgba(0,0,0,0) 100%);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: cover;

  mask-image: radial-gradient(circle, rgba(0,0,0,1) 85%, rgba(0,0,0,0) 100%);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;

  /* fallback background color behind the transparent edges */
  background-color: #fdfdfd;
}

/* HOTSPOTS */
.hotspot-computer,
.hotspot-picture,
.hotspot-folders {
  position: absolute;
  cursor: pointer;
  z-index: 10; 
}

.hotspot-computer {
  top: 36%;     
  left: 25%;   
  width: 29%;
  height: 45%;

  clip-path: polygon(
    28% 0%, 
    28% 60%, 
    0% 88%, 
    78% 99%, 
    90% 79%, 
    88% 68%, 
    98% 60%, 
    100% 0%
  );
}

.hotspot-picture {
  top: 40%;     
  left: 54%;   
  width: 29%;
  height: 45%;

  clip-path: polygon(
    6% 1%,
    0% 72%, 
    44% 76%, 
    51% 2%
  );
}

.hotspot-folders {
  top: 60%;     
  left: 70%;   
  width: 22%;
  height: 30%;

  clip-path: polygon(
    40% 0%, 
    97% 2%, 
    97% 58%, 
    60% 85%, 
    5% 75%, 
    5% 5%
  );
}



/* .hotspot-computer.debug,
.hotspot-picture.debug,
.hotspot-folders.debug {
  border: 2px solid lime;
  background-color: rgba(0, 255, 0, 0.2);
} */

/* CHANGE BACKGROUND ON HOVER */
.background-image:hover:has(.hotspot-computer:hover) {
  background-image: url('/img/bg-desk-select-computer.png');
}

.background-image:hover:has(.hotspot-picture:hover) {
  background-image: url('/img/bg-desk-select-picture.png');
}

.background-image:hover:has(.hotspot-folders:hover) {
  background-image: url('/img/bg-desk-select-folders.png');
}

/* SHOW HOTSPOT TOOLTIP ON HOVER */
.hotspot-computer-desc,
.hotspot-picture-desc,
.hotspot-folders-desc {
  position: absolute;
  padding: 4px 8px;
  font-size: 25px;
  color: black;
  border-radius: 4px;
  opacity: 0;          
  pointer-events: none; 
  transition: opacity 0.15s ease;
}

.hotspot-computer-desc {
  top: 25%;
  left: 32%;
}

.hotspot-picture-desc {
  top: 32%;
  left: 54%;
}

.hotspot-folders-desc {
  top: 49%;
  left: 70%;
}

.hotspot-computer:hover ~ .hotspot-computer-desc,
.hotspot-picture:hover ~ .hotspot-picture-desc,
.hotspot-folders:hover ~ .hotspot-folders-desc {
  opacity: 1;
}

/* BACKDROP */
.scumm-modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

/* MODAL WINDOW */
.scumm-modal {
  display: flex;
  flex-direction: column;
  background: #1b1b2b; 
  padding: 20px 24px;
  width: 900px;
  /* height: 600px; */
  border: 4px solid #e38c00; 
  font-family: var(--font-start2P), monospace;
  color: #d6d6ff;
  text-align: center;
}

.scumm-modal-backdrop,
.scumm-modal {
  -webkit-mask: none !important;
  mask: none !important;
}

/* TITLE */
.scumm-modal-title {
  margin: 0 12px 24px 12px;
  font-size: 18px;
  color: #ffffff;
  -webkit-text-stroke: 1px #000;
}

/* BODY TEXT */
.scumm-modal-text {
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 1.4;
  color: #cfd0ff;
}

/* CONTENT CONTAINER */
.scumm-modal-content-container {
  display: flex;
  flex-direction: row;
  height: fit-content;
}

.scumm-modal-content-container__left {
  display: flex;
  flex-direction: row;
  gap: 3em;
  padding: 3.2em 4.8em;
  background-color: #11140f;
  background-image: url('/img/screen_zoom.png');
  background-repeat: no-repeat;
  background-size: 480px;
  background-position: center;
  height: 300px;
  width: 50%;
}

.scumm-modal-content-container__left.picture-bg {
   background-image: url('/img/frame_zoom.png');
   background-size: contain;
   background-position: left;
}

/* stack icons */
.stack-icon {
  font-size: 3em;
  color: #32CD32;
  background-color: transparent;
  font-family: "Courier New", monospace;
  cursor: pointer;  
}

.stack-icon__selected {
  color: #33FF33;
  border: 2px solid #33FF33;
}


.scumm-modal-content-container__right {
  background-color: #11140f;
  width: 50%;
  padding: 0.8em;
  text-align: justify;
  font-size: .7em;
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-color: #d6d6ff #30304d;
}

/* BUTTON */
.scumm-modal-btn {
  /* position: absolute; */
  left: calc(50% - 75px);
  bottom: 20px;
  width: 150px;
  margin: 20px auto 0 auto;
  padding: 6px 14px;
  font-family: var(--font-start2P), monospace;
  color: #fff;
  background: #2b2b4a;
  border: 3px solid #8d7300;
  box-shadow: 
      0 0 0 2px #000,
      0 0 8px #c25100 inset;
  cursor: pointer;
  text-transform: uppercase;

  -webkit-text-stroke: 1px #000;
}

.scumm-modal-btn:hover {
  background: #3a3a62;
  box-shadow:
      0 0 0 2px #000,
      0 0 12px #cc8c00 inset,
      0 0 8px #cab600;
}


