@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
  background-color: #050808;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-image {
  height: 300px;
  width: 600px;
}

/* scumm look alike font */

.text-start2P {
  font-family: var(--font-start2P), monospace;
  -webkit-font-smoothing: none;       
  -moz-osx-font-smoothing: auto;
  image-rendering: pixelated;          
  color: #ffffff;                     
  /* -webkit-text-stroke: 0.5px #000000;    */
}

/* BACKGROUND CONTAINER */
.background-image {
  transform: translateZ(0);
  position: relative;
  width: 100%;                 /* responsive */
  max-width: 1000px;           /* optional */
  aspect-ratio: 16 / 9;        /* MUST match your image */
  background-image: url('/img/bg-desk.png');
  background-size: cover;
  background-position: center;

   /* fade edges to transparent */
  -webkit-mask-image: radial-gradient(circle, rgba(0,0,0,1) 85%, rgba(0,0,0,0) 100%);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: cover;

  mask-image: radial-gradient(circle, rgba(0,0,0,1) 85%, rgba(0,0,0,0) 100%);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;

  /* fallback background color behind the transparent edges */
  background-color: #fdfdfd;
}

/* HOTSPOTS */
.hotspot-computer,
.hotspot-picture,
.hotspot-folders {
  position: absolute;
  cursor: pointer;
  z-index: 10; 
}

.hotspot-computer {
  top: 36%;     
  left: 25%;   
  width: 29%;
  height: 45%;

  clip-path: polygon(
    28% 0%, 
    28% 60%, 
    0% 88%, 
    78% 99%, 
    90% 79%, 
    88% 68%, 
    98% 60%, 
    100% 0%
  );
}

.hotspot-picture {
  top: 40%;     
  left: 54%;   
  width: 29%;
  height: 45%;

  clip-path: polygon(
    6% 1%,
    0% 72%, 
    44% 76%, 
    51% 2%
  );
}

.hotspot-folders {
  top: 60%;     
  left: 70%;   
  width: 22%;
  height: 30%;

  clip-path: polygon(
    40% 0%, 
    97% 2%, 
    97% 58%, 
    60% 85%, 
    5% 75%, 
    5% 5%
  );
}



/* .hotspot-computer.debug,
.hotspot-picture.debug,
.hotspot-folders.debug {
  border: 2px solid lime;
  background-color: rgba(0, 255, 0, 0.2);
} */

/* CHANGE BACKGROUND ON HOVER */
.background-image:hover:has(.hotspot-computer:hover) {
  background-image: url('/img/bg-desk-select-computer.png');
}

.background-image:hover:has(.hotspot-picture:hover) {
  background-image: url('/img/bg-desk-select-picture.png');
}

.background-image:hover:has(.hotspot-folders:hover) {
  background-image: url('/img/bg-desk-select-folders.png');
}

/* SHOW HOTSPOT TOOLTIP ON HOVER */
.hotspot-computer-desc,
.hotspot-picture-desc,
.hotspot-folders-desc {
  position: absolute;
  padding: 4px 8px;
  font-size: 25px;
  color: black;
  border-radius: 4px;
  opacity: 0;          
  pointer-events: none; 
  transition: opacity 0.15s ease;
}

.hotspot-computer-desc {
  top: 25%;
  left: 32%;
}

.hotspot-picture-desc {
  top: 32%;
  left: 54%;
}

.hotspot-folders-desc {
  top: 49%;
  left: 70%;
}

.hotspot-computer:hover ~ .hotspot-computer-desc,
.hotspot-picture:hover ~ .hotspot-picture-desc,
.hotspot-folders:hover ~ .hotspot-folders-desc {
  opacity: 1;
}
